<div class="form_head">
    <h2>プロフィール変更</h2>
</div>

<%= nested_form_for @profile,:url => {controller: "profiles", action: "edit"} do |f| %>
<%#= form_for @profile,:url => {controller: "profiles", action: "edit"} do |f| %>

<% if @profile.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @profile.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :free_area, "フリースペースです。好きなことを書きましょう！" %>
    <%= f.text_area :free_area, placeholder: "About me" %>
</div>

<div class="field">
    <%= f.label :trendartist, "最近ハマっているアーティストは？" %>
    <%= f.text_area :trendartist, placeholder: "Trend artist" %>
</div>

<div class="field">
    <%= f.label :trendsong, "最近ハマっている曲は？" %>
    <%= f.text_area :trendsong, placeholder: "Trend song" %>
</div>

<div class="field">
    <%= f.label :fvcate, "好きなジャンルは？" %>
    <%= f.text_field :fvcate, placeholder: "Trend genre" %>
</div>

<div class="field">
    <%= f.label :fvartist, "好きなアーティストは？" %>
    <%= f.text_area :fvartist, placeholder: "Favorite artist" %>
</div>

<div class="field">
    <%= f.label :fvsong, "好きな曲は？" %>
    <%= f.text_area :fvsong, placeholder: "Favorite artist" %>
</div>

<div class="field">
    <%= f.label :fes_sche, "参加予定のライブ・フェスは？" %>
    <%= f.text_area :fes_sche, placeholder: "Live / Fes Schedule" %>
</div>

<div class="field">
    <%= f.label :fes_his, "最近参加したライブ・フェスは？" %>
    <%= f.text_area :fes_his, placeholder: "Live / Fes History" %>
</div>

<div class="field">
    <%= f.label :fvmv, "好きなMVは？" %>
    <%= f.text_field :fvmv, placeholder: "YouTubeのURLをペースト", oninput: "func_id()", id: "ytid" %>
    <p id="yt_error"></p>

    <% if @profile.fvmv.present? %>
    <div id="ytid_confirm_now">
        <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @profile.fvmv %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <% end %>

    <div id="ytid_confirm"></div>
</div>

<script>
    function func_id() {
        var i = document.getElementById("ytid");
        var t = i.value;

        $('#ytid_confirm, #ytid_confirm_now, #yt_error').fadeOut();

        if (/watch\?v=/.test(t)) {
            var index = t.indexOf('watch?v=');
            var y = t.slice(index + 8);

            i.value = y

            var ytid_confirm = '<iframe width="854" height="480" src="https://www.youtube.com/embed/' + y + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
            document.getElementById('ytid_confirm').innerHTML = ytid_confirm;
            $('#ytid_confirm').fadeIn();

        } else if (/youtu\.be\//.test(t)) {
            var index = t.indexOf('youtu.be/');
            var y = t.slice(index + 9);

            i.value = y

            var ytid_confirm = '<iframe width="854" height="480" src="https://www.youtube.com/embed/' + y + '" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>';
            document.getElementById('ytid_confirm').innerHTML = ytid_confirm;
            $('#ytid_confirm').fadeIn();

        } else {
            i.value = '';
            document.getElementById('yt_error').innerHTML = "正しいURLを入力してください"
            $('#yt_error').fadeIn();
        }
    }
</script>

<div class="field">
    <%= f.label :fav_playlist, "お気に入りのプレイリストは？" %>
    <%= f.text_area :fav_playlist, placeholder: "Favorite playlist" %>
</div>

<p class="s_ttl">どんな音楽史を歩みましたか？</p>

<div class="field">
    <%= f.fields_for :histories do |f| %>
    <%= f.text_field :year, placeholder: "Year", class: "year" %>年
    <%= f.text_area :event, placeholder: "Event" %>
    <%= f.link_to_remove "" %>
    <% end %>
    <%= f.link_to_add "イベントを追加", :histories %>
</div>

<div class="actions">
    <%= f.submit "更新" %>
</div>

<% end %>