<% set_meta_tags title: "アカウント作成" %>

<div class="form_head">
    <h2>アカウント作成</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<%= render "devise/shared/error_messages", resource: resource %>

<div class="field">
    <%= f.label :userid %>
    <%= f.text_field :userid, autofocus: true, placeholder: "必須" %>
    <span>（半角アルファベット（大文字・小文字）、半角数字が使えます）</span>
</div>

<div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autocomplete: "email", placeholder: "必須" %>
</div>

<div class="field">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "必須" %>
    <% if @minimum_password_length %>
    <span>（<%= @minimum_password_length %>文字以上）</span>
    <span>（半角アルファベット（大文字・小文字）、半角数字を１つ以上）</span>
    <% end %>
</div>

<div class="field">
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "必須" %>
</div>

<div class="actions">
    <%= f.submit "登録する" %>
</div>
<% end %>

<%= render "devise/shared/links" %>