<div class="page_wrap clearfix">

    <% p_cmt.each do |cmt| %>
    <% user = User.find(cmt.c_uid) %>

    <li class="comment_wrap clearfix" id="comment_id_<%= cmt.id %>">

        <%= link_to "/#{user.userid}", class: "comment_user" do %>
        <span class="com_l"><%= image_tag "#{user.userimg.m}" %></span>
        <span class="com_r">
            <span>
                <% if user.username.blank? %>
                <%= user.userid %>
                <% else %>
                <%= user.username %>
                <% end %>
            </span>
            <span><%= user.userid %></span>
        </span>
        <% end %>
        <p class="comment_content">
            <span class="comment"><%= safe_join(cmt.comment.split("\n"),tag(:br)) %></span>
            <span class="date"><%= time_ago_in_words(cmt.created_at) %>前</span>

            <% if user_signed_in? %>
            <% if user.id == current_user.id %>
            <span class="cmt_in_edit"><i class="fas fa-edit"></i></span>
            <%= link_to "/c/#{cmt.id}/destroy", class: 'cmt_dlete_btn', data: {confirm: "本当に削除しますか？"} do %>
            <i class="fas fa-trash-alt"></i>
            <% end %>
            <% end %>
            <span class="cmt_in_reply"><i class="fas fa-reply"></i></span>
            <span class="cmt_in_reply_close"><i class="fas fa-times"></i></span>
            <% end %>
        </p>

        <% if user_signed_in? %>
        <% if user.id == current_user.id %>

        <%= form_tag "/c/#{cmt.id}/edit", :method => 'patch', class: "comment_edit" do %>
        <div class="field">
            <textarea name="comment" id="comment" class="auto_height"><%= cmt.comment %></textarea>
        </div>
        <label>
            <button type="submit"></button>
            <span class="cmt_send_btn"><i class="fas fa-paper-plane"></i></span>
        </label>
        <span class="cmt_close_btn"><i class="fas fa-times"></i></span>
        <% end %>

        <% end %>
        <% end %>








        <%= form_for @reply,:url => {controller: "replies", action: "create"}, :html =>{class: "reply_area"} do |f| %>

        <div class="field">
            <%= f.text_field :comment_id, value: "#{cmt.id}", type: 'hidden' %>
            <%= f.text_area :reply, placeholder: "返信 :D", id: "comment_id_#{cmt.id}", class: "auto_height" %>
            <label>
                <button type="submit"></button>
                <span class="reply_send_btn"><i class="fas fa-paper-plane"></i></span>
            </label>
        </div>

        <% end %>









        <% replies = Reply.where(comment_id: cmt.id).order(created_at: "DESC") %>

        <ul class="reply_container" id="reply_comment_id_<%= cmt.id %>">

            <% if !replies.empty? %>

            <% replies.each do |reply| %>

            <% user = User.find(reply.r_uid) %>

            <li class="reply_wrap clearfix" id="reply_id_<%= reply.id %>">

                <%= link_to "/#{user.userid}", class: "reply_user" do %>
                <span class="reply_l"><%= image_tag "#{user.userimg.m}" %></span>
                <span class="reply_r">
                    <span>
                        <% if user.username.blank? %>
                        <%= user.userid %>
                        <% else %>
                        <%= user.username %>
                        <% end %>
                    </span>
                    <span><%= user.userid %></span>
                </span>
                <% end %>
                <p class="reply_content">
                    <span class="reply"><%= safe_join(reply.reply.split("\n"),tag(:br)) %></span>
                    <span class="date"><%= time_ago_in_words(reply.created_at) %>前</span>

                    <% if user_signed_in? %>
                    <% if user.id == current_user.id %>
                    <span class="reply_in_edit"><i class="fas fa-edit"></i></span>
                    <%= link_to "/r/#{reply.id}/destroy", class: 'reply_dlete_btn', data: {confirm: "本当に削除しますか？"} do %>
                    <i class="fas fa-trash-alt"></i>
                    <% end %>
                    <% end %>
                    <% end %>
                </p>

                <% if user_signed_in? %>
                <% if user.id == current_user.id %>

                <%= form_tag "/r/#{reply.id}/edit", :method => 'patch', class: "reply_edit" do %>
                <div class="field">
                    <textarea name="reply" id="reply" class="auto_height"><%= reply.reply %></textarea>
                </div>
                <label>
                    <button type="submit"></button>
                    <span class="reply_send_btn"><i class="fas fa-paper-plane"></i></span>
                </label>
                <span class="reply_close_btn"><i class="fas fa-times"></i></span>
                <% end %>

                <% end %>
                <% end %>

            </li>

            <% end %>

            <% end %>

        </ul>

    </li>

    <% end %>

    <span class="next"><%= link_to_next_page @p_cmt, '', param_name: 'comment'%></span>

</div>

<%= render 'posts/loader' %>