<div class="form_head">
    <h2>コメント編集</h2>
</div>

<%= form_for @cmt,:url => {controller: "comments", action: "edit"} do |f| %>

<% if @cmt.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @cmt.errors.full_messages.each do |smt| %>
        <li><%= cmt %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :comment, "コメント" %><br />
    <%= f.text_area :comment %>
</div>

<div class="actions">
    <%= f.submit "保存" %>
</div>

<%= link_to "削除", "/c/#{@cmt.id}/destroy", class: 'delete', data: {confirm: "本当に削除しますか？"} %>

<% end %>