<div class="p_like_box_wrap">
    <% if user_signed_in? %>

    <% if Like.find_by(post_id: post.id, l_uid: current_user.id) %>
    <%= link_to "/p/#{post.id}/unlike", class:'like' do %>
    <i class="fas fa-heart"></i>
    <span><%= Like.where(post_id: post.id).length %></span>
    <% end %>
    <% else %>
    <%= link_to "/p/#{post.id}/like", class:'unlike' do %>
    <i class="fas fa-heart"></i>
    <span><%= Like.where(post_id: post.id).length %></span>
    <% end %>
    <% end %>

    <% else %>
    <%= link_to "/p/#{post.id}", class:'home_unlike' do %>
    <i class="fas fa-heart"></i>
    <span><%= Like.where(post_id: post.id).length %></span>
    <% end %>

    <% end %>
</div>
<div class="like_user m_btn">
    <% likes = Like.where(post_id: post.id).order(created_at: "DESC") %>
    <% likes.each do |like| %>
    <% l_user = User.find(like.l_uid) %>
    <span class="like_user_in" id="like_user_<%= l_user.id %>"><%= image_tag "#{l_user.userimg.s}" %></span>
    <% end %>
</div>
<div class="m_content">
    <ul>
        <% likes.each do |like| %>
        <% l_user = User.find(like.l_uid) %>
        <% msg = Onemessage.find_by(user_id: like.l_uid) %>
        <li id="like_user_list_<%= l_user.id %>">
            <%= link_to "/#{l_user.userid}" do %>
            <span><%= image_tag "#{l_user.userimg.m}" %></span>
            <div>
                <span>
                    <% if l_user.username.empty? %>
                    <%= l_user.userid %>
                    <% else %>
                    <%= l_user.username %>
                    <% end %>
                </span>
                <span><%= l_user.userid %></span>
                <span><%= msg.message %></span>
            </div>
            <% end %>
        </li>
        <% end %>
    </ul>
</div>