<li>
    <%= link_to "/#{user.userid}" do %>
    <span><%= image_tag "#{user.userimg.m}" %></span>
    <div>
        <span>
            <% if user.username.blank? %>
            <%= user.userid %>
            <% else %>
            <%= user.username %>
            <% end %>
        </span>
        <span><%= user.userid %></span>

        <% if current_page?("/pr/search/#{params[:word]}") %>
        <span><%= profile.free_area %></span>
        <% else %>
        <span>
            <% if msg.present? %>
            <% if msg.message.blank? %>
            ひとことがありません
            <% else %>
            <%= msg.message %>
            <% end %>
            <% else %>
            ひとことがありません
            <% end %>
        </span>
        <% end %>

    </div>
    <% end %>
</li>