<section class="user_head">

    <div class="header_img">
        <%= image_tag "#{@user_name.hdrimg}" %>
    </div>

</section>
<section class="head prf_head clearfix">

    <div class="head_l clearfix">
        <p class="head_img"><%= image_tag "#{@user_name.userimg}" %></p>
    </div>
    <div class="head_r clearfix">
        <p class="head_name">
            <% if @user_name.username.empty? %>
            <%= @user_name.userid %>
            <% else %>
            <%= @user_name.username %>
            <% end %>
        </p>

        <p class="head_id"><%= @user_name.userid %></p>

        <div class="head_sns">
            <% if @user_name.sns_t.present? %>
            <%= link_to "", "#{@user_name.sns_t}",target: "_blank", class: "head_snst" %>
            <% end %>
            <% if @user_name.sns_f.present? %>
            <%= link_to "", "#{@user_name.sns_f}",target: "_blank", class: "head_snsf" %>
            <% end %>
            <% if @user_name.sns_i.present? %>
            <%= link_to "", "#{@user_name.sns_i}",target: "_blank", class: "head_snsi" %>
            <% end %>
            <% if @user_name.sns_l.present? %>
            <%= link_to "", "#{@user_name.sns_l}",target: "_blank", class: "head_snsl" %>
            <% end %>
            <% if @user_name.userlink.present? %>
            <%= link_to "", "#{@user_name.userlink}",target: "_blank", class: "head_userlink" %>
            <% end %>
        </div>

        <% if user_signed_in? %>
        <% user = @user_name %>
        <% if user.id != current_user.id %>
        <div class="follow_wrap clearfix" id="follow_user_<%= user.id %>">
            <%= render partial: "follows/follow", locals: { user: user } %>
        </div>
        <% else %>
        <div class="follow_wrap clearfix">
            <%= link_to "", "/users/edit", class: "follow_btn setting" %>
        </div>
        <% end %>

        <% else %>
        <div class="follow_wrap clearfix">
            <%= link_to "", new_user_session_path, class: "follow_btn signout_follow" %>
        </div>

        <% end %>

    </div>

    <div class="head_message">
        <% if @msg.present? %>
        <% if @msg.message.blank? %>
        <span class="none">ひとことがありません</span>
        <% else %>
        <%= safe_join(@msg.message.split("\n"),tag(:br)) %>
        <% end %>
        <% else %>
        <span class="none">ひとことがありません</span>
        <% end %>

        <% if user_signed_in? %>
        <% if current_user.id == @user_name.id %>
        <i class="fas fa-edit"></i>
        <%= link_to "", "/m/edit", class: "head_message_edit" %>
        <% end %>
        <% end %>
    </div>

    <div class="prf_count clearfix">
        <p>プロフィール充実度：<%= @prf_count %>%</p>
        <div class="count_bar" id="n_<%= @prf_count %>"><span></span></div>
    </div>

</section>

<section class="tab_content_wrap clearfix">

    <ul class="tab-group">
        <li><a href="#profile" class="tab">プロフィール</a></li>
        <li><a href="#activity" class="tab">アクティビティ</a></li>
        <li><a href="#favorite" class="tab"><i class="far fa-heart"></i></a></li>
    </ul>

    <div class="panel-group">

        <div id="profile" class="panel">

            <% if !@profile.nil? %>

            <div class="pl_head">
                <p class="sttl">アップデート : <%= time_ago_in_words(@profile.updated_at) %>前</p>
                <% if user_signed_in? %>
                <% if current_user.id == @user_name.id %>
                <%= link_to '編集', "/pr/edit", class: "pr_edit" %>
                <% end %>
                <% end %>
            </div>

            <% if @profile.free_area.present? %>
            <p class="pr_ttl">About me</p>
            <p class="pr_content"><%= safe_join(@profile.free_area.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.trendartist.present? %>
            <p class="pr_ttl">Trend artist</p>
            <p class="pr_content"><%= safe_join(@profile.trendartist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.trendsong.present? %>
            <p class="pr_ttl">Trend song</p>
            <p class="pr_content"><%= safe_join(@profile.trendsong.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvcate.present? %>
            <p class="pr_ttl">Favorite genre</p>
            <p class="pr_content tag_list clearfix">
                <% cates = @profile.fvcate.split(',') %>
                <% cates.each do |cate| %>
                <span><%= cate %></span>
                <% end %>
            </p>
            <% end %>

            <% if @profile.fvartist.present? %>
            <p class="pr_ttl">Favorite artist</p>
            <p class="pr_content"><%= safe_join(@profile.fvartist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvsong.present? %>
            <p class="pr_ttl">Favorite song</p>
            <p class="pr_content"><%= safe_join(@profile.fvsong.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fes_sche.present? %>
            <p class="pr_ttl">Live / Fes schedule</p>
            <p class="pr_content"><%= safe_join(@profile.fes_sche.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fes_his.present? %>
            <p class="pr_ttl">Live / Fes history</p>
            <p class="pr_content"><%= safe_join(@profile.fes_his.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvmv.present? %>
            <p class="pr_ttl">Favorite video</p>
            <div class="yt_wrap">
                <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @profile.fvmv %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <% end %>

            <% if @profile.fav_playlist.present? %>
            <p class="pr_ttl">Favorite playlist</p>
            <p class="pr_content"><%= safe_join(@profile.fav_playlist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.histories.present? %>
            <p class="pr_ttl">My history</p>

            <div class="pr_content_his">

                <% @histories.each do |history| %>

                <div class="history_wrap">
                    <p class="year"><span></span><%= history.year %></p>
                    <p class="event"><%= safe_join(history.event.split("\n"),tag(:br)) %></p>
                </div>

                <% end %>

                <div class="history_wrap">
                    <p class="year"><span></span>Start</p>
                </div>

            </div>
            <% end %>



            <% else %>
            <div class="pl_head">
                <p class="sttl">None profile</p>
                <% if user_signed_in? %>
                <% if current_user.id == @user_name.id %>
                <%= link_to 'プロフィール作成', "/pr/new", class: "pr_post" %>
                <% end %>
                <% end %>
            </div>
            <% end %>

        </div>


        <div id="activity" class="panel timeline">

            <% if user_signed_in? %>
            <% if current_user.id == @user_name.id %>
            <div class="pl_head">
                <p><%= link_to '投稿', p_new_path, class: "ac_post" %></p>
            </div>
            <% end %>
            <% end %>


            <% if !@posts.empty? %>

            <div class="page_wrap clearfix">

                <% @posts.each do |post| %>

                <%= render partial: 'posts/activity', locals: { post: post} %>

                <% end %>

            </div>
            <span class="next"><%= link_to_next_page @posts, '', param_name: 'activity'%></span>

            <% else %>
            <%= link_to 'アクティビティを投稿', "/p/new", class: "pr_post" %>
            <% end %>

        </div>

        <div id="favorite" class="panel timeline">

            <% if !@user_likes.empty? %>

            <div class="page_wrap clearfix">
                <% @user_likes.each do |user_like| %>

                <% post = Post.find_by(id: user_like.post_id) %>
                <% user = User.find_by(id: post.user_id) %>

                <%= render partial: 'posts/activity', locals: { post: post} %>

                <% end %>

                <span class="next"><%= link_to_next_page @user_likes, '', param_name: 'favorite'%></span>

            </div>

        </div>

        <% else %>
        いいねした投稿がありません
        <% end %>

    </div>

</section>