<section class="head clearfix">

    <div class="head_l clearfix">
        <p class="head_img"><%= image_tag "#{@user_name.userimg}" %></p>
    </div>
    <div class="head_r clearfix">
        <p class="head_name">
            <% if @user_name.username.empty? %>
            <%= @user_name.userid %>
            <% else %>
            <%= @user_name.username %>
            <% end %>
        </p>

        <p class="head_id"><%= @user_name.userid %></p>

        <p class="head_message">
            <% if @msg.present? %>
            <% if @msg.message.blank? %>
            <span class="none">ひとことがありません</span>
            <% else %>
            <%= safe_join(@msg.message.split("\n"),tag(:br)) %>
            <% end %>
            <% else %>
            <span class="none">ひとことがありません</span>
            <% end %>
            <% if current_user.id == @user_name.id %>
            <%= link_to "", "/m/edit", class: "head_message_edit" %>
            <% end %>
        </p>


        <% if @user_name.sns_t.present? %>
        <div class="head_sns">
            <%= link_to "", "#{@user_name.sns_t}",target: "_blank", class: "head_snst" %>
            <% end %>
            <% if @user_name.sns_f.present? %>
            <%= link_to "", "#{@user_name.sns_f}",target: "_blank", class: "head_snsf" %>
            <% end %>
            <% if @user_name.sns_i.present? %>
            <%= link_to "", "#{@user_name.sns_i}",target: "_blank", class: "head_snsi" %>
            <% end %>
            <% if @user_name.sns_l.present? %>
            <%= link_to "", "#{@user_name.sns_l}",target: "_blank", class: "head_snsl" %>
            <% end %>
            <% if @user_name.userlink.present? %>
            <%= link_to "", "#{@user_name.userlink}",target: "_blank", class: "head_userlink" %>
        </div>
        <% end %>

        <% if @user_name.id != current_user.id %>
        <div class="follow_wrap clearfix">
            <%= render partial: "users/follow", locals: { follow: @following } %>
        </div>
        <% end %>

    </div>

</section>


<section class="tab_content_wrap clearfix">

    <ul class="tab-group">
        <li class="tab is-active">Profile</li>
        <li class="tab">Activity</li>
        <li class="tab"><i class="far fa-heart"></i></li>
    </ul>

    <div class="panel-group">

        <div class="panel is-show">

            <% if !@profile.nil? %>

            <div class="pl_head">
                <p class="sttl">Update : <%= l @profile.updated_at, format: "%Y-%m-%d" %></p>
                <% if current_user.id == @user_name.id %>
                <%= link_to 'Edit', "/pr/edit", class: "pr_edit" %>
                <% end %>
            </div>

            <% if @profile.free_area.present? %>
            <p class="pr_ttl">About me</p>
            <p class="pr_content"><%= safe_join(@profile.free_area.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.trendartist.present? %>
            <p class="pr_ttl">Trend artist</p>
            <p class="pr_content"><%= safe_join(@profile.trendartist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.trendsong.present? %>
            <p class="pr_ttl">Trend song</p>
            <p class="pr_content"><%= safe_join(@profile.trendsong.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvcate.present? %>
            <p class="pr_ttl">Favorite genre</p>
            <p class="pr_content"><%= @profile.fvcate%></p>
            <% end %>

            <% if @profile.fvartist.present? %>
            <p class="pr_ttl">Favorite artist</p>
            <p class="pr_content"><%= safe_join(@profile.fvartist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvsong.present? %>
            <p class="pr_ttl">Favorite song</p>
            <p class="pr_content"><%= safe_join(@profile.fvsong.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fes_sche.present? %>
            <p class="pr_ttl">Live / Fes schedule</p>
            <p class="pr_content"><%= safe_join(@profile.fes_sche.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fes_his.present? %>
            <p class="pr_ttl">Live / Fes history</p>
            <p class="pr_content"><%= safe_join(@profile.fes_his.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.fvmv.present? %>
            <p class="pr_ttl">Favorite video</p>
            <div class="yt_wrap">
                <iframe width="854" height="480" src="https://www.youtube.com/embed/<%= @profile.fvmv %>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <% end %>

            <% if @profile.fav_playlist.present? %>
            <p class="pr_ttl">Favorite playlist</p>
            <p class="pr_content"><%= safe_join(@profile.fav_playlist.split("\n"),tag(:br)) %></p>
            <% end %>

            <% if @profile.histories.present? %>
            <p class="pr_ttl">Your history</p>

            <div class="pr_content_his">

                <% @histories.each do |history| %>

                <div class="history_wrap">
                    <p class="year"><span></span><%= history.year %></p>
                    <p class="event"><%= safe_join(history.event.split("\n"),tag(:br)) %></p>
                </div>

                <% end %>

                <div class="history_wrap">
                    <p class="year"><span></span>Start</p>
                </div>

            </div>
            <% end %>



            <% else %>
            <div class="pl_head">
                <p class="sttl">None profile</p>
                <% if current_user.id == @user_name.id %>
                <%= link_to 'Post profile', "/pr/new", class: "pr_post" %>
                <% end %>
            </div>
            <% end %>

        </div>


        <div class="panel">

            <div class="pl_head">
                <p class="sttl">
                    <% if @user_name.username.empty? %>
                    <%= @user_name.userid %>
                    <% else %>
                    <%= @user_name.username %>
                    <% end %>
                    's &nbsp; Activity
                </p>
                <% if current_user.id == @user_name.id %>
                <p><%= link_to 'Post', p_new_path, class: "ac_post" %></p>
                <% end %>
            </div>


            <% if !@posts.empty? %>

            <% @posts.each do |post| %>

            <div class="ac_content clearfix">

                <div class="ac_content_wrap">

                    <p class="ac_ttl"><%= post.title %></p>

                    <p class="ac_txt">
                        <%=safe_join(post.comment.split("\n"),tag(:br))%>
                        <span class="date"><%= l post.created_at, format: "%Y-%m-%d" %></span>
                    </p>

                    <% if post.img.present? %>
                    <p class="ac_img m_btn"><%= image_tag "#{post.img}"%></p>
                    <p class="m_content"><%= image_tag "#{post.img}" %></p>
                    <% end %>

                    <% if @user_name.id == current_user.id %>
                    <%= link_to "Edit", "/p/#{post.id}/edit", class: 'ac_in_edit' %>
                    <% end %>

                    <div class="p_like_box" id="ac_post_<%= post.id %>">

                        <%= render partial: 'users/like', locals: { post: post} %>

                    </div>

                </div>

            </div>

            <% end %>

            <% else %>
            <%= link_to 'Post activity', "/p/new", class: "pr_post" %>
            <% end %>

        </div>

        <div class="panel like_list">

            <div class="pl_head">
                <p class="sttl">
                    <% if @user_name.username.empty? %>
                    <%= @user_name.userid %>
                    <% else %>
                    <%= @user_name.username %>
                    <% end %>
                    's &nbsp; Favorite
                </p>
            </div>


            <% if !@user_likes.empty? %>

            <% @user_likes.each do |user_like| %>

            <div class="ac_content clearfix">

                <% post = Post.find_by(id: user_like.post_id) %>
                <% likes_user = User.find_by(id: post.user_id) %>

                <div class="ac_content_wrap">

                    <p class="p_user_wrap clearfix">
                        <%= link_to "/#{likes_user.userid}", data: {'turbolinks' => false} do %>
                        <span><%= image_tag "#{likes_user.userimg}" %></span>
                        <span>
                            <% if likes_user.username.empty? %>
                            <%= likes_user.userid %>
                            <% else %>
                            <%= likes_user.username %>
                            <span><%= likes_user.userid %></span>
                            <% end %>
                        </span>
                        <% end %>
                    </p>

                    <p class="ac_ttl"><%= post.title %></p>

                    <p class="ac_txt">
                        <%=safe_join(post.comment.split("\n"),tag(:br))%>
                        <span class="date"><%= l user_like.created_at, format: "%Y-%m-%d" %></span>
                    </p>

                    <% if post.img.present? %>
                    <p class="ac_img m_btn"><%= image_tag "#{post.img}"%></p>
                    <p class="m_content"><%= image_tag "#{post.img}" %></p>
                    <% end %>

                    <div class="p_like_box" id="ac_post_<%= post.id %>">

                        <%= render partial: 'users/like', locals: { post: post} %>

                    </div>

                </div>

            </div>

            <% end %>

            <% else %>
            いいねした投稿がありません
            <% end %>

        </div>

    </div>

</section>