<% if !@notice_items.nil? %>
<div class="user_notice_wrapper clearfix">

    <% @notice_items.each do |item| %>

    <div class="user_notice_item_wrapper clearfix">

        <% user = User.find_by(id: item.user_id) %>

        <% if item.has_attribute?(:free_area) %>

        <%= link_to "/#{user.userid}", class:'user_notice_item clearfix' do %>

        <div class="notice_inner">
            <div class="notice_inner_t clearfix">
                <span class="userimg"><%= image_tag "#{user.userimg.m}" %></span>
                <span class="username">
                    <% if user.username.blank? %>
                    <%= user.userid %>
                    <% else %>
                    <%= user.username %>
                    <% end %>
                    <span><%= user.userid %></span>
                </span>
            </div>
            <div class="notice_inner_b">
                <p class=" notice_txt">プロフィールを変更しました</p>
                <p class="notice_txt_date"><%= time_ago_in_words(item.updated_at) %>前</p>
            </div>
        </div>

        <% end %>

        <% elsif item.has_attribute?(:message) %>

        <%= link_to "/#{user.userid}", class:'user_notice_item clearfix' do %>

        <div class="notice_inner">
            <div class="notice_inner_t clearfix">
                <span class="userimg"><%= image_tag "#{user.userimg.m}" %></span>
                <span class="username">
                    <% if user.username.blank? %>
                    <%= user.userid %>
                    <% else %>
                    <%= user.username %>
                    <% end %>
                    <span><%= user.userid %></span>
                </span>
            </div>
            <div class="notice_inner_b">
                <p class="notice_txt"><%=safe_join(item.message.split("\n"),tag(:br))%></p>
                <p class="notice_txt_date"><%= time_ago_in_words(item.updated_at) %>前</p>
            </div>
        </div>

        <% end %>

        <% end %>

    </div>

    <% end %>



    <% if @notice_items.length < 5 %>
    <% 3.times do %>
    <div class="user_notice_item_wrapper clearfix">
        <a class="user_notice_item clearfix" href="#">
            <div class="notice_inner">
                <div class="notice_inner_t clearfix">
                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                    <span class="username">
                        Sample user
                        <span>Sample user</span>
                    </span>
                </div>
                <div class="notice_inner_b">
                    <p class=" notice_txt">プロフィールを変更しました</p>
                    <p class="notice_txt_date">5日前</p>
                </div>
            </div>
        </a>
    </div>
    <div class="user_notice_item_wrapper clearfix">
        <a class="user_notice_item clearfix" href="#">
            <div class="notice_inner">
                <div class="notice_inner_t clearfix">
                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                    <span class="username">
                        Sample user
                        <span>Sample user</span>
                    </span>
                </div>
                <div class="notice_inner_b">
                    <p class="notice_txt">Sample userのひとことSample userのひとこと</p>
                    <p class="notice_txt_date">5日前</p>
                </div>
            </div>
        </a>
    </div>
    <% end %>
    <% end %>
</div>

<% else %>
お知らせがありません
<% end %>