<section class="head reco clearfix">

    <h3>おすすめユーザー</h3>

    <%= render_async reco_users_path %>

</section>

<section class="tab_content_wrap clearfix">

    <ul class="tab-group">
        <li><a href="#timeline" class="tab">タイムライン</a></li>
        <li><a href="#following" class="tab">フォロー中<span></span></a></li>
        <li><a href="#follower" class="tab">フォロワー<span></span></a></li>
    </ul>

    <div class="panel-group">

        <div id="timeline" class="panel timeline">

            <% if !@f_users.nil? %>

            <div class="user_notice_container clearfix">

                <%= render_async notice_items_path %>

            </div>

            <% if !@posts.nil? %>

            <div class="page_wrap clearfix">
                <% @posts.each do |post| %>

                <%= render partial: 'posts/activity', locals: { post: post} %>

                <% end %>

                <span class="next"><%= link_to_next_page @posts, '', param_name: 'timeline'%></span>
            </div>

            <%= render 'posts/loader' %>

            <% end %>

            <% else %>
            タイムラインがありません
            <% end %>

        </div>

        <div id="following" class="panel f_l_user_list fl_list">

            <% if !@fing_users.empty? %>

            <ul>
                <div class="page_wrap clearfix">
                    <% @fing_users.each do |fing_user| %>
                    <% user = User.find(fing_user.f_id) %>
                    <% msg = Onemessage.find_by(user_id: fing_user.f_id) %>
                    <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                    <% end %>
                    <span class="next"><%= link_to_next_page @fing_users, '', param_name: 'following'%></span>
                </div>
                <%= render 'posts/loader' %>
            </ul>

            <% else %>
            フォローしているユーザーはいません
            <% end %>
        </div>

        <div id="follower" class="panel f_l_user_list fl_list">

            <% if !@fer_users.empty? %>

            <ul>
                <div class="page_wrap clearfix">
                    <% @fer_users.each do |fer_user| %>
                    <% user = User.find(fer_user.user_id) %>
                    <% msg = Onemessage.find_by(user_id: fer_user.user_id) %>
                    <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                    <% end %>
                    <span class="next"><%= link_to_next_page @fer_users, '', param_name: 'follower'%></span>
                </div>
                <%= render 'posts/loader' %>
            </ul>

            <% else %>
            フォローされているユーザーはいません
            <% end %>

        </div>

    </div>

</section>