<section class="head reco clearfix">

    <h3>Recommended users</h3>

    <% if !@reco_users.nil? %>

    <div class="reco_wrap main-carousel">
        <% @reco_users.each do |user| %>

        <div class="reco_item_container">
            <div class="reco_item_wrap">

                <%= link_to "/#{user.userid}", data: {'turbolinks' => false} do %>

                <div class="reco_item_img"><%= image_tag "#{user.userimg.l}" %></div>
                <p class="reco_item_name">
                    <% if user.username.empty? %>
                    <%= user.userid %>
                    <% else %>
                    <%= user.username %>
                    <% end %>
                </p>
                <p class="reco_item_id"><%= user.userid %></p>

                <% end %>

                <div class="follow_wrap clearfix" id="follow_user_<%= user.id %>">
                    <%= render partial: "follows/follow", locals: { user: user } %>
                </div>

            </div>
        </div>

        <% end %>

        <% if @reco_users.count < 5 %>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <% end %>

        <% else %>
        おすすめユーザーはいません
        <% end %>

    </div>

</section>

<section class="tab_content_wrap clearfix">

    <ul class="tab-group">
        <li class="tab is-active">Timeline</li>
        <li class="tab">Following</i></li>
        <li class="tab">Follower</i></li>
    </ul>

    <div class="panel-group">

        <div class="panel timeline is-show">

            <% if !@posts.nil? %>

            <% @posts.each do |post| %>

            <% if post.has_attribute?(:title) %>

            <%= render partial: 'posts/activity', locals: { post: post} %>

            <% elsif post.has_attribute?(:trendartist) %>
            <div class="ac_content clearfix">

                <div class="ac_content_wrap">

                    <p class="p_user_wrap clearfix">
                        <% p_user = User.find(post.user_id) %>
                        <%= link_to "/#{p_user.userid}", data: {'turbolinks' => false} do %>
                        <span><%= image_tag "#{p_user.userimg.m}" %></span>
                        <span>
                            <% if p_user.username.empty? %>
                            <%= p_user.userid %>
                            <% else %>
                            <%= p_user.username %>
                            <span><%= p_user.userid %></span>
                            <% end %>
                        </span>
                        <% end %>
                    </p>

                    <p class="ac_ttl"><%= link_to "プロフールを更新しました", "/#{p_user.userid}", data: {'turbolinks' => false} %></p>

                    <div class="ac_content_inner tl">

                        <span class="date"><%= l post.updated_at, format: "%Y-%m-%d" %></span>

                    </div>

                </div>

            </div>

            <% elsif post.has_attribute?(:message) %>
            <div class="ac_content clearfix">

                <div class="ac_content_wrap">

                    <p class="p_user_wrap clearfix">
                        <% p_user = User.find(post.user_id) %>
                        <%= link_to "/#{p_user.userid}", data: {'turbolinks' => false} do %>
                        <span><%= image_tag "#{p_user.userimg.m}" %></span>
                        <span>
                            <% if p_user.username.empty? %>
                            <%= p_user.userid %>
                            <% else %>
                            <%= p_user.username %>
                            <span><%= p_user.userid %></span>
                            <% end %>
                        </span>
                        <% end %>
                    </p>

                    <p class="ac_ttl"><%= link_to "ひとことを更新しました", "/#{p_user.userid}", data: {'turbolinks' => false} %></p>

                    <div class="ac_content_inner tl">

                        <p class="ac_txt"><%=safe_join(post.message.split("\n"),tag(:br))%></p>

                        <span class="date"><%= l post.updated_at, format: "%Y-%m-%d" %></span>

                    </div>

                </div>

            </div>

            <% end %>

            <% end %>

            <% else %>
            タイムラインがありません
            <% end %>

        </div>

        <div class="panel f_l_user_list">

            <div class="pl_head">
                <p class="sttl">Following : <%= @fing_users.count %></p>
            </div>

            <% if !@fing_users.empty? %>

            <ul>
                <% @fing_users.each do |fing_user| %>
                <% user = User.find(fing_user.f_id) %>
                <% msg = Onemessage.find_by(user_id: fing_user.f_id) %>
                <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                <% end %>
            </ul>

            <% else %>
            フォローしているユーザーはいません
            <% end %>
        </div>

        <div class="panel f_l_user_list">

            <div class="pl_head">
                <p class="sttl">Follower : <%= @fer_users.count %></p>
            </div>

            <% if !@fer_users.empty? %>

            <ul>
                <% @fer_users.each do |fer_user| %>
                <% user = User.find(fer_user.user_id) %>
                <% msg = Onemessage.find_by(user_id: fer_user.user_id) %>
                <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                <% end %>
            </ul>

            <% else %>
            フォローされているユーザーはいません
            <% end %>

        </div>

    </div>

</section>