<section class="head reco clearfix">

    <h3>Recommended users</h3>

    <% if !@reco_users.nil? %>

    <div class="reco_wrap main-carousel">
        <% @reco_users.each do |user| %>

        <div class="reco_item_container">
            <div class="reco_item_wrap">

                <%= link_to "/#{user.userid}" do %>

                <div class="reco_item_img"><%= image_tag "#{user.userimg.l}" %></div>
                <p class="reco_item_name">
                    <% if user.username.empty? %>
                    <%= user.userid %>
                    <% else %>
                    <%= user.username %>
                    <% end %>
                </p>
                <p class="reco_item_id"><%= user.userid %></p>

                <% end %>

                <div class="follow_wrap clearfix" id="follow_user_<%= user.id %>">
                    <%= render partial: "follows/follow", locals: { user: user } %>
                </div>

            </div>
        </div>

        <% end %>

        <% if @reco_users.length < 5 %>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <div class="reco_item_container">
            <div class="reco_item_wrap">
                <div class="reco_item_img"><%= image_tag "fallback/default_userimg" %></div>
                <p class="reco_item_name">Sample user</p>
                <p class="reco_item_id">sample_user</p>
                <div class="follow_wrap clearfix"><span class="follow_btn follow"></span></div>
            </div>
        </div>
        <% end %>

        <% else %>
        おすすめユーザーはいません
        <% end %>

    </div>

</section>

<section class="tab_content_wrap clearfix">

    <ul class="tab-group">
        <li><a href="#timeline" class="tab">Timeline</a></li>
        <li><a href="#following" class="tab">Following</a></li>
        <li><a href="#follower" class="tab">Follower</a></li>
    </ul>

    <div class="panel-group">

        <div id="timeline" class="panel timeline">

            <% if !@f_users.nil? %>

            <% if !@notice_items.nil? %>

            <div class="user_notice_container clearfix">
                <div class="user_notice_wrapper clearfix">

                    <% @notice_items.each do |item| %>

                    <div class="user_notice_item_wrapper clearfix">

                        <% user = User.find_by(id: item.user_id) %>

                        <% if item.has_attribute?(:free_area) %>

                        <%= link_to "/#{user.userid}", class:'user_notice_item clearfix' do %>

                        <div class="notice_inner">
                            <div class="notice_inner_t clearfix">
                                <span class="userimg"><%= image_tag "#{user.userimg.m}" %></span>
                                <span class="username">
                                    <% if user.username.empty? %>
                                    <%= user.userid %>
                                    <% else %>
                                    <%= user.username %>
                                    <% end %>
                                    <span><%= user.userid %></span>
                                </span>
                            </div>
                            <div class="notice_inner_b">
                                <p class=" notice_txt">プロフィールを変更しました
                                    <span class="date"><%= l item.updated_at, format: "%Y-%m-%d" %></span>
                                </p>
                            </div>
                        </div>

                        <% end %>

                        <% elsif item.has_attribute?(:message) %>

                        <%= link_to "/#{user.userid}", class:'user_notice_item clearfix' do %>

                        <div class="notice_inner">
                            <div class="notice_inner_t clearfix">
                                <span class="userimg"><%= image_tag "#{user.userimg.m}" %></span>
                                <span class="username">
                                    <% if user.username.empty? %>
                                    <%= user.userid %>
                                    <% else %>
                                    <%= user.username %>
                                    <% end %>
                                    <span><%= user.userid %></span>
                                </span>
                            </div>
                            <div class="notice_inner_b">
                                <p class="notice_txt"><%=safe_join(item.message.split("\n"),tag(:br))%>
                                    <span class="date"><%= l item.updated_at, format: "%Y-%m-%d" %></span>
                                </p>
                            </div>
                        </div>

                        <% end %>

                        <% end %>

                    </div>

                    <% end %>



                    <!--テスト-->
                    <div class="user_notice_item_wrapper clearfix">
                        <a class="user_notice_item clearfix" href="#">
                            <div class="notice_inner">
                                <div class="notice_inner_t clearfix">
                                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                                    <span class="username">
                                        Sample user
                                        <span>Sample user</span>
                                    </span>
                                </div>
                                <div class="notice_inner_b">
                                    <p class=" notice_txt">プロフィールを変更しました
                                        <span class="date">2020-06-11</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="user_notice_item_wrapper clearfix">
                        <a class="user_notice_item clearfix" href="#">
                            <div class="notice_inner">
                                <div class="notice_inner_t clearfix">
                                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                                    <span class="username">
                                        Sample user
                                        <span>Sample user</span>
                                    </span>
                                </div>
                                <div class="notice_inner_b">
                                    <p class="notice_txt">一言サンプル一言サンプル一言サンプル一言サンプル一言サンプル<br>一言サンプル一言サンプル一言サンプル
                                        <span class="date">2020-06-11</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="user_notice_item_wrapper clearfix">
                        <a class="user_notice_item clearfix" href="#">
                            <div class="notice_inner">
                                <div class="notice_inner_t clearfix">
                                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                                    <span class="username">
                                        Sample user
                                        <span>Sample user</span>
                                    </span>
                                </div>
                                <div class="notice_inner_b">
                                    <p class=" notice_txt">プロフィールを変更しました
                                        <span class="date">2020-06-11</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="user_notice_item_wrapper clearfix">
                        <a class="user_notice_item clearfix" href="#">
                            <div class="notice_inner">
                                <div class="notice_inner_t clearfix">
                                    <span class="userimg"><%= image_tag "fallback/default_userimg" %></span>
                                    <span class="username">
                                        Sample user
                                        <span>Sample user</span>
                                    </span>
                                </div>
                                <div class="notice_inner_b">
                                    <p class="notice_txt">一言サンプル一言サンプル一言サンプル一言サンプル一言サンプル<br>一言サンプル一言サンプル一言サンプル
                                        <span class="date">2020-06-11</span>
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>




                </div>
            </div>

            <% end %>

            <% if !@posts.nil? %>

            <div class="page_wrap clearfix">

                <% @posts.each do |post| %>

                <%= render partial: 'posts/activity', locals: { post: post} %>

                <% end %>

                <span class="next"><%= link_to_next_page @posts, '', param_name: 'timeline'%></span>

            </div>

            <% end %>

            <% end %>

        </div>

        <div id="following" class="panel f_l_user_list">

            <div class="pl_head">
                <p class="sttl">Following : <%= @fing_users.length %></p>
            </div>

            <% if !@fing_users.empty? %>

            <ul>
                <div class="page_wrap clearfix">
                    <% @fing_users.each do |fing_user| %>
                    <% user = User.find(fing_user.f_id) %>
                    <% msg = Onemessage.find_by(user_id: fing_user.f_id) %>
                    <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                    <% end %>
                    <span class="next"><%= link_to_next_page @fing_users, '', param_name: 'following'%></span>
                </div>
            </ul>

            <% else %>
            フォローしているユーザーはいません
            <% end %>
        </div>

        <div id="follower" class="panel f_l_user_list">

            <div class="pl_head">
                <p class="sttl">Follower : <%= @fer_users.length %></p>
            </div>

            <% if !@fer_users.empty? %>

            <ul>
                <div class="page_wrap clearfix">
                    <% @fer_users.each do |fer_user| %>
                    <% user = User.find(fer_user.user_id) %>
                    <% msg = Onemessage.find_by(user_id: fer_user.user_id) %>
                    <%= render partial: "users/user_list", locals: { user: user, msg: msg } %>
                    <% end %>
                    <span class="next"><%= link_to_next_page @fer_users, '', param_name: 'follower'%></span>
                </div>
            </ul>

            <% else %>
            フォローされているユーザーはいません
            <% end %>

        </div>

    </div>

</section>