<% set_meta_tags title: "ヘルプ" %>

<div class="form_head">
    <h2>ヘルプ</h2>
</div>

<div class="help_nav clearfix">
    <%= link_to 'ヘルプ', '/h/help' %>
    <%= link_to '利用規約', '/h/terms' %>
    <%= link_to 'プライバシーポリシー', '/h/privacy' %>
    <%= link_to 'Cookie', '/h/cookie' %>
    <%= link_to '機能説明', '/h/howto' %>
    <%= link_to 'お問い合わせ', '/h/contact' %>
</div>