<div class="ac_content clearfix">

    <div class="ac_content_wrap">

        <p class="p_user_wrap clearfix">
            <% p_user = User.find(post.user_id) %>
            <%= link_to "/#{p_user.userid}", data: {'turbolinks' => false} do %>
            <span><%= image_tag "#{p_user.userimg.m}" %></span>
            <span>
                <% if p_user.username.empty? %>
                <%= p_user.userid %>
                <% else %>
                <%= p_user.username %>
                <span><%= p_user.userid %></span>
                <% end %>
            </span>
            <% end %>
        </p>

        <p class="ac_ttl"><%= post.title %></p>

        <div class="ac_content_inner">

            <p class="ac_txt"><%=safe_join(post.comment.split("\n"),tag(:br))%></p>
            <span class="date"><%= l post.created_at, format: "%Y-%m-%d" %></span>

            <% if post.img.present? %>
            <p class="ac_img m_btn"><%= image_tag "#{post.img}"%></p>
            <p class="m_content"><%= image_tag "#{post.img}" %></p>
            <% end %>

            <% if post.user_id == current_user.id %>
            <%= link_to "Edit", "/p/#{post.id}/edit", class: 'ac_in_edit' %>
            <% end %>

        </div>

        <div class="count_wrap">

            <div class="p_cmt_box">
                <% cmt = Comment.where(post_id: post.id) %>
                <% cmt_u = Comment.where(post_id: post.id, c_uid: current_user.id) %>

                <% if cmt_u.empty? %>
                <%= link_to "/p/#{post.id}", class: "uncmt" do %>
                <i class="fas fa-comment"></i>
                <span><%= cmt.count %></span>
                <% end %>
                <% else %>
                <%= link_to "/p/#{post.id}", class: "cmt" do %>
                <i class="fas fa-comment"></i>
                <span><%= cmt.count %></span>
                <% end %>
                <% end %>
            </div>

            <div class="p_like_box" id="ac_post_<%= post.id %>">
                <%= render partial: 'likes/like', locals: { post: post} %>
            </div>

        </div>

        <% if current_page?("/p/#{post.id}") %>

        <%= render partial: "comments/comment", locals: { p_cmt: p_cmt } %>


        <% else %>
        <%= link_to "", "/p/#{post.id}", class: "post_show" %>
        <% end %>

    </div>

</div>