<div class="form_head">
    <h2>アクティビティ編集</h2>
</div>

<%= form_for @post,:url => {controller: "posts", action: "edit"} do |f| %>

<% if @post.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "必須" %>
</div>

<div class="field">
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment %>
</div>

<div class="field_img">
    <%= f.label :img do %>
    <%= f.file_field :img %>
    <i class="fas fa-images"></i>画像を選択
    <% end %>
    <span class="file"></span>
    <% if @post.img.present? %>
    <div class="img_wrap_confirm"> <%= image_tag "#{@post.img}"%></div>
    <% end %>
</div>

<div class="actions">
    <%= f.submit "更新" %>
</div>

<%= link_to "削除", "/p/#{@post.id}/destroy", class: 'delete', data: {confirm: "本当に削除しますか？"} %>

<% end %>