<div class="form_head">
    <h2>アクティビティ</h2>
</div>

<%= form_for @post,:url => {controller: "posts", action: "create"} do |f| %>

<% if @post.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
    </ul>
</div>
<% end %>

<div class="field">
    <%= f.label :title, "タイトル" %>
    <%= f.text_field :title, placeholder: "必須" %>
</div>

<div class="field">
    <%= f.label :comment, "コメント" %>
    <%= f.text_area :comment %>
</div>

<div class="field_img">
    <div class="img_wrap_confirm">
    </div>
    <%= f.label :img, class: "img_select" do %>
    <%= f.file_field :img %>
    <i class="fas fa-images"></i>画像を選択
    <% end %>
    <span class="file"></span><br>
    <%= f.label :remove_img, class: 'img_delete' do %>
    <%= f.check_box :remove_img %>画像を削除する
    <div class="indicator"></div>
    <% end %>
</div>

<div class="actions">
    <%= f.submit "投稿" %>
</div>

<% end %>