<footer class="clearfix">
    <div class="clearfix">
        <%= link_to 'ヘルプ', '/h/help' %>
        <%= link_to '利用規約', '/h/terms' %>
        <%= link_to 'プライバシーポリシー', '/h/privacy' %>
        <%= link_to 'Cookie', '/h/cookie' %>
    </div>
    <p>© <%= l Time.current, format: "%Y" %> Otofile</p>
</footer>