<header class="clearfix">

    <nav class="clearfix">
        <%= link_to "/", class: "nav_logo" do %>
        <%= image_tag "logo.svg" %>
        <% end %>

        <div class="nav_btn_wrapper">

            <% if !user_signed_in? %>
            <%= link_to 'ログイン', new_user_session_path, class: "nav_btn head_nav_signin" %>
            <%= link_to 'アカウント作成', new_user_registration_path, class: "nav_btn head_nav_signup" %>
            <% end %>

            <% if user_signed_in? %>
            <%= link_to "/#{current_user.userid}", class: 'nav_btn prf' do %><span><%= image_tag "#{current_user.userimg.m}" %></span><% end %>
            <% end %>
            <a class="nav_btn search search_btn_trriger"></a>

            <a class="nav_btn_trriger"><span></span><span></span><span></span></a>
        </div>
        <div class="nav_content clearfix">
            <% if user_signed_in? %>
            <%= link_to 'ホーム', root_path, class: "nav_home" %>
            <%= link_to 'ひとこと', "/m/new", class: "nav_msg" %>
            <%= link_to 'アクティビティ', '/p/new', class: "nav_act" %>
            <%= link_to 'アカウント設定', edit_user_registration_path, class: 'nav_setting' %>
            <%= link_to 'ログアウト', destroy_user_session_path, class: "nav_signout", method: :delete %>

            <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "nav_signin" %>
            <%= link_to 'アカウント作成', new_user_registration_path, class: "nav_signup" %>
            <% end %>

            <div class="sub_nav clearfix">
                <%= link_to 'ヘルプ', '/h/help' %>
                <%= link_to '利用規約', '/h/terms' %>
                <%= link_to 'プライバシーポリシー', '/h/privacy' %>
                <%= link_to 'Cookie', '/h/cookie' %>
            </div>
        </div>
        <div class="search_content">

            <ul class="search_tab_group">
                <li class="tab is_active">ユーザー</li>
                <li class="tab">プロフィール</li>
                <li class="tab">アクティビティ</li>
            </ul>

            <div class="search_panel_group">

                <div class="panel is_show">
                    <div class="head_search_wrapper clearfix">
                        <%= form_tag "/search/check", :method => 'get', class: "head_search" do %>
                        <%= text_field_tag :u_search, params[:u_search] %>
                        <%= label_tag do %>
                        <%= submit_tag "", :name => nil %>
                        <i class="fas fa-search"></i>
                        <% end %>
                        <% end %>
                    </div>
                    <%= link_to 'ランダム検索 :D', u_s_random_path, class: 'search_btn_random' %>
                </div>

                <div class="panel">
                    <div class="head_search_wrapper clearfix">
                        <%= form_tag "/search/check", :method => 'get', class: "head_search" do %>
                        <%= text_field_tag :pr_search, params[:pr_search] %>
                        <%= label_tag do %>
                        <%= submit_tag "", :name => nil %>
                        <i class="fas fa-search"></i>
                        <% end %>
                        <% end %>
                    </div>
                    <%= link_to 'ランダム検索 :D', u_s_random_path, class: 'search_btn_random' %>
                </div>

                <div class="panel">
                    <div class="head_search_wrapper clearfix">
                        <%= form_tag "/search/check", :method => 'get', class: "head_search" do %>
                        <%= text_field_tag :p_search, params[:p_search] %>
                        <%= label_tag do %>
                        <%= submit_tag "", :name => nil %>
                        <i class="fas fa-search"></i>
                        <% end %>
                        <% end %>
                    </div>
                    <%= link_to 'ランダム検索 :D', p_s_random_path, class: 'search_btn_random' %>
                </div>

            </div>

        </div>

        <% if user_signed_in? %>
        <div id="fixed_nav">
            <div class="fixed_nav_btn"><span></span><span></span></div>
            <div class="fixed_nav_content">
                <%= link_to "/m/new", id: 'fix_btn_msg' do %><i class="fas fa-comment-dots"></i><% end %>
                <%= link_to "/p/new", id: 'fix_btn_post' do %><i class="fas fa-music"></i><% end %>
                <%= link_to "/pr/edit", id: 'fix_btn_prf' do %><i class="fas fa-user"></i></i><% end %>
            </div>
        </div>
        <% end %>

        <div id="sp_nav" class="clearfix">
            <% if user_signed_in? %>
            <%= link_to "/" do %><i class="fas fa-home"></i><% end %>
            <%= link_to "/m/new" do %><i class="fas fa-comment-dots"></i><% end %>
            <%= link_to "/p/new" do %><i class="fas fa-music"></i><% end %>
            <%= link_to "/pr/edit" do %><i class="fas fa-user"></i></i><% end %>
            <span id="sp_search_trriger"><i class="fas fa-search"></i></span>
            <% else %>
            <%= link_to 'ログイン', new_user_session_path, class: "sp_nav_signin" %>
            <%= link_to 'アカウント作成', new_user_registration_path, class: "sp_nav_signup" %>
            <span id="sp_search_trriger"><i class="fas fa-search"></i></span>
            <% end %>
        </div>
    </nav>

    <% if notice %>
    <p class="notice clearfix"><%= notice %></p>
    <% end %>
    <% if alert  %>
    <p class="alert clearfix"><%= alert %></p>
    <% end %>
</header>