<!DOCTYPE html>
<html>

<head>
    <title>Otofile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="shortcut icon" href="/assets/favicon.png">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">
</head>

<body>

    <div class="container">

        <%= render 'layouts/header' %>

        <% if current_page?("/welcome") %>
        <section class="home_head clearfix">
            <h2>Welcome to Otofile.</h2>
            <p>Otofile（オトファイル）は、音楽好きの仲間と繋がれるオンラインコミュニティです。<br>
                プロフィールを充実させてシェアしたり、好きな曲やライブの感想をシェアしたり。<br>
                アカウントを作成して音楽ライフをエンジョイしましょう♪</p>
        </section>
        <% end %>

        <div class="wrapper">

            <% if user_signed_in? %>
            <% if current_page?("/welcome") %>
            <main class="welcome clearfix"><%= yield %></main>
            <%= render_async rank_posts_path if request.from_pc? %>
            <% else %>
            <main class="clearfix"><%= yield %></main>
            <%= render_async rank_posts_path if request.from_pc? %>
            <% end %>
            <% else %>
            <% if current_page?("/welcome") %>
            <main class="welcome clearfix"><%= yield %></main>
            <%= render 'layouts/form' if request.from_pc? %>
            <% else %>
            <main class="clearfix"><%= yield %></main>
            <%= render_async rank_posts_path if request.from_pc? %>
            <% end %>
            <% end %>

        </div>

    </div>

    <%= Gon::Base.render_data %>
    <%= content_for :render_async %>

    <%= javascript_include_tag 'application' %>

    <script>
        echo.init({
            offset: 200
        });
    </script>
</body>

</html>