<!DOCTYPE html>
<html>

<head>
    <title>OTOFILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">


</head>

<body>

    <div class="container clearfix">

        <header class="clearfix">
            <nav class="clearfix">
                <%= link_to "/", data: {'turbolinks' => false}, class: "nav_logo" do %>
                <%= image_tag "logo.svg" %>
                <% end %>

                <%= link_to '', root_path, data: {'turbolinks' => false}, class: "btn_search" %>

                <a class="nav_btn_trriger"><span></span><span></span><span></span></a>
                <div class="nav_content clearfix">
                    <% if user_signed_in? %>
                    <%= link_to 'マイプロフィール', root_path, data: {'turbolinks' => false}, class: 'nav_peaple' %>
                    <%= link_to 'アカウント設定', edit_user_registration_path, data: {'turbolinks' => false}, class: 'nav_setting' %>
                    <%= link_to 'ひとこと', "/m/new", data: {'turbolinks' => false}, class: "nav_edit" %>
                    <%= link_to 'プロフィール', '/pr/new', data: {'turbolinks' => false}, class: "nav_edit" %>
                    <%= link_to 'アクティビティ', '/p/new', data: {'turbolinks' => false}, class: "nav_edit" %>
                    <%= link_to 'ログアウト', destroy_user_session_path, data: {'turbolinks' => false}, class: "nav_signout", method: :delete %>
                    <% else %>
                    <%= link_to 'アカウント登録', new_user_registration_path, data: {'turbolinks' => false}, class: "nav_signup" %>
                    <%= link_to 'ログイン', new_user_session_path, data: {'turbolinks' => false}, class: "nav_signin" %>
                    <% end %>
                    <%= link_to 'お問い合わせ', '#', data: {'turbolinks' => false}, class: "nav_contact" %>
                </div>
            </nav>


            <% if notice %>
            <p class="notice clearfix"><%= notice %></p>
            <% end %>
            <% if alert  %>
            <p class="alert clearfix"><%= alert %></p>
            <% end %>
        </header>

        <main class="clearfix">

            <%= yield %>

        </main>

    </div>

    <%= Gon::Base.render_data %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</body>

</html>