<!DOCTYPE html>
<html>

<head>
    <title>OTOFILE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

</head>

<body>

    <div class="container">

        <%= render 'layouts/header' %>

        <main class="clearfix">

            <%= yield %>

        </main>

        <aside class="clearfix">

            <div class="aside_inner clearfix">

                <div class="rank_post_container clearfix">

                    <% if !@rank_posts.nil? %>

                    <h3>Weekly <i class="far fa-heart"></i> ranking</h3>

                    <div class="rank_post_wrapper clearfix">

                        <% @rank_posts.each do |post| %>

                        <% user = User.find(post.user_id) %>

                        <%= link_to "/p/#{post.id}", class: 'rank_post_item clearfix' do %>

                        <p class="rank_title">
                            <i class="far fa-heart"></i>
                            <span class="rank_count"><%= post.likes.length %></span>
                            <%= post.title %>
                        </p>

                        <% if post.img.present? %>
                        <p class="rank_img"><%= image_tag "#{post.img}"%></p>
                        <% end %>
                        <p class="rank_user">
                            <span class="rank_userimg"><%= image_tag "#{user.userimg.m}" %></span>
                            <span class="rank_username">
                                <% if user.username.empty? %>
                                <%= user.userid %>
                                <% else %>
                                <%= user.username %>
                                <% end %>
                            </span>
                        </p>

                        <% end %>

                        <% end %>

                    </div>
                    <% end %>

                </div>

                <footer>
                    <%= link_to '利用規約', '/#' %>
                    <%= link_to 'プライバシーポリシー', '/#' %>
                    <%= link_to 'Cookie', '/#' %>
                    <p>© <%= l Time.current, format: "%Y" %> OTOFILE</p>
                </footer>

            </div>

        </aside>

    </div>

    <%= Gon::Base.render_data %>
    <%= javascript_include_tag 'application' %>



</body>

</html>